
/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* Container */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.p-20{
    padding: 20px;
}

/* header */
header{
    background-color: #ffffff;
    padding: 20px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

/* navbar */
.navbar ul li{
    display: inline-block;
    margin-right: 20px;
}


/* Flex */

.flex-container{
    display: flex;
    gap:10px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-container .flex-item{
    flex: 0 1 280px;
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

/* grid */
.grid-container{
    display: grid;
    gap: 10px;
    grid-template-columns:
    repeat(auto-fill, minmax(300px, 1fr));
    
}

.grid-container .grid-item{
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}
.grid-container .grid-item:hover{
    transform: scale(1.02) translateY(-5px);
}